:host {
	display: block;
	min-height: 100dvh;
}

.dashboard {
	display: grid;
	min-height: 100dvh;
	place-items: center;
	padding: 24px;
	background-color: var(--primary-active-surface);
	
	background-position: center;
}
