article {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid var(--border);
}

div {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

small {
  color: var(--secondary-surface);
}

header {
  margin-bottom: 16px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section + section {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid var(--border);
}

h3,
p {
  margin: 0;
}
